body {
    background-color: #02093A;
   text-align: center;
}

textarea {
				
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textarea;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: none;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    margin: 0em;
    font: 400 13.3333px Arial;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
}

.MyDiv {
    
     padding: 10px;
      border: 5px solid #110705;
    background-color: #2E3A8D;

    
    display: grid;
    grid-template-columns: 3;
    grid-column: 2 ;
    justify-content: center;
    font-family: "Courier New", Courier,xx-small, monospace;

}

.Div2 {
    
    padding: 10px;
    border: 5px dotted #FFFFFF;
    resize: none;
    overflow: auto;
    color: steelblue;
    font-family: "Courier New", Courier,xx-small, monospace;
}

.Div3 {
    padding: 10px;
    border: 6px solid #FFFFFF;
    opacity: 0.5;
    color: #FFFFFF;
    background-color: #2E3A8D;
    resize: none;
    overflow: auto;
    font-family: monospace;
}

.center {
    font-family: monospace; 
   

}

.download {
    font-family: monospace;
    opacity: 1;
    color: darkviolet;
    background-color: darkviolet;
}



h1 {
    
    color: steelblue;
    text-align: center;
    opacity: 1.0;
}

h2 {

    color: steelblue;
    
}

h3 {
    color: blue;
}